<html>
    <head><title>ADD PRODUCT</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <li class="main-header__item-list">
                    <ul class="main-header__item"><a class="active" href='/'>SHOP</a></ul>
                    <ul class="main-header__item"><a href='/add-product'>ADD PRODUCT</a></ul>
                </li>
            </nav>
        </header>
            <main>
                <form method="POST" action="/add-product">
                    <input type="text" name="title">
                    <button type="submit"> ADD </button>
                </form>
            </main>
    </body>
</html>