<!DOCTYPE html>
<html>
    <head><title>ADD PRODUCT</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
            <header class="main-header">
                <nav class="main-header__nav">
                    <li class="main-header__item-list">
                        <ul class="main-header__item"><a class="active" href='/'>SHOP</a></ul>
                        <ul class="main-header__item"><a href='/add-product'>ADD PRODUCT</a></ul>
                    </li>
                </nav>
            </header>
            <main>
               <h1>MY PRODUCTS</h1>
               <p> LIst goes here</p>
            </main>
    </body>
</html>